<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.junemon.uploadfilteringimage_firebase">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
            android:name="android.hardware.camera"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.camera.front"
            android:required="false"/>


    <application
            android:allowBackup="true"
            android:name=".MainApplication"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name=".ui.activity.main.MainAppbarActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".testingActivity"
                android:label="Junemon Upload Image"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- Accepts URIs that begin with "http://recipe-app.com/recipe" -->
                <data
                        android:scheme="http"
                        android:host="junemon.com"
                        android:pathPrefix="/"/>
            </intent-filter>

            <!-- Accept adb data flag -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:scheme="http"
                        android:host="junemon.com"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".ui.activity.upload.UploadActivity"
                android:theme="@style/AppTheme.NoActionBar.Fullscreen"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
                android:screenOrientation="portrait"/>


        <provider
                android:authorities="${applicationId}.provider"
                android:name="androidx.core.content.FileProvider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_path"/>
        </provider>

        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_application_id"/>
        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>

        <service
                android:name=".utils.firebasenotif.FirebaseMessagingService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebae.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
                android:name="firebase_messaging_auto_init_enabled"
                android:value="false"/>
        <meta-data
                android:name="firebase_analytics_collection_enabled"
                android:value="false"/>
    </application>

</manifest>